/*////////////////////////////////////////////////////////////////////////////////////////////*/
/*General*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/
body {
	font-size: 14px;
	background: #f4f4f4;
}

.h4, h4 {
    font-size: 1rem;
}

.red {
	color: red
}

.white {
	background: #fff;
}

.progress-bar {
	background: #ffd800;
}

.yellow-text {
	color: #ffd800;
}

.item-inside-padding {
	padding: 34px;
}

.item-outside-padding {
	padding-left: 0.5rem!important;
	padding-right: 0.5rem!important;
	max-height: 300px;
}

.item-min-height {
	min-height: 200px;
}

.with-radius {
	padding: 10px;
	border-radius: 10px;
}

.spacing-right {
	margin-right: 5px;
}

.spacing-left {
	margin-left: 5px;
}

.pointer {
	cursor: pointer;
}

.btn {
	font-weight: 600;
}

.btn-primary {
	background-color: #ffd800;
	color: #1b1b1b;
	border: none;
}

.btn-primary:hover {
	background-color: #ffbd00;
}

.btn-primary.focus, .btn-primary:focus{
    box-shadow: 0 0 0 .2rem rgba(255, 180, 0, 0.5)
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus{
    box-shadow: 0 0 0 .2rem rgba(255, 180, 0, 0.5)
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
	background-color: #ffbd00;
	border-color: #ffbd00
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	font-weight: bold
}

.drop-down-menu {
	vertical-align: unset;
}

.drop-down-menu button{
	background-color: unset;
	border: none;
	padding: 0px;
	color: #212529;
	font-size: inherit;
	display: inline-flex;
}

.drop-down-menu button:not(:disabled):not(.disabled).active:focus, .drop-down-menu button:not(:disabled):not(.disabled):active:focus, .show > .drop-down-menu button.dropdown-toggle:focus{
    box-shadow: unset;
	border: none;
}

.drop-down-menu button:not(:disabled):not(.disabled).active, .drop-down-menu button:not(:disabled):not(.disabled):active, .show > .drop-down-menu button.dropdown-toggle {
	background-color: unset;
	color: #212529;
	border: none;
}

.drop-down-menu button, .drop-down-menu button:focus {
    box-shadow: unset;
}

.drop-down-menu button:hover {
	background-color: unset;
	color: #212529;
}

.small {
	font-size: 12px;
	font-weight: bold
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
	width: 100%
}

.link-button {
	color: #007bff;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: inline;
}

.link-button:hover,
.link-button:focus {
	text-decoration: underline;
	border: none;
	outline: none;
}

.modal-title {
	font-weight: 600
}

.small-title {
	font-weight: 600;
	font-size: 18px;
}

.banner {
	margin-bottom: 30px;
}

.banner img {
	width: 100%;
}

.container {
    max-width: 95% !important;
    min-height: 200px;
}

.line {
	background-color: #b3b6b9;
	height: 1px;
	margin: 20px 0px;
}

.mobile-view {
	display: none;
}

@media screen and (max-width: 768px) { 
	.mobile-view {
		display: inline-block;
	}
}

/*Carousel*/
.carousel-indicators li {
	background-color: #ccc;
}

.carousel-indicators .active {
	background-color: #ffd800;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: #ffd800;
}

.swiper-container.swiper-container-horizontal {
	height: 350px;
}

/*loading*/
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 128px;
  height: 128px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #1b1b1b;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 56px;
    left: 56px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 116px;
    height: 116px;
    opacity: 0;
  }
}

@media screen and (max-width: 768px) { 
	.carousel-item img {
		margin: auto;
	    height: 250px;
	    width: unset!important;
	}
}

/*Modal*/
.modal-dialog.modal-lg {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: unset;
}

.socal_icon {
	height: 20px;
}

.modal-content {
	padding: 10px;
}


/*////////////////////////////////////////////////////////////////////////////////////////////*/
/*Navigation*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

/*Upper Header*/
.upperHeader {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #b3b6b9;
}

/*Logo*/
.logo-box {
	text-align: center;
}

.logo-web {
	height: 39px;
}

.logo-mobile {
	height: 39px;
	display: none;
}

.icon-box-mobile {
	display: none;
	text-align: center;
}

@media screen and (max-width: 575px) { 
	.logo-mobile  {
		display: inline-block;
	}
	.logo-web {
		display: none;
	}
}

@media screen and (max-width: 768px) { 
	.nav-item{
		text-align: center;
	}
	.nav-link {
		margin: auto;
	}
	.icon-box {
		display: none;
	}
	.icon-box-mobile {
		display: inline-block;
	}
	.icon-item {
		width: unset!important;
		display: inherit!important;
		padding: 0px !important;
		margin-bottom: 10px;
	}
	.cart-notification {
		position: relative!important;
		margin: auto;
		bottom: unset!important;
		left: 5px!important;
		top: -6px;
	}
}


/*Search*/
.search-box {
	position: relative;
}

.search-box .search-icon {
	position: absolute;
	left: 27px;
	margin-top: 8px;
	z-index: 2
}

.search-box .search-input {
	padding-left: 35px 
}

/*Icon*/
.icon-box {
	text-align: center;
	font-size: 18px;
}

.icon-item {
	width: 20%;
	position: relative;
	display: inline-flex;
	padding: 9px 0px 0px 15px;
}

.icon-item a {
    display: inline-flex;
    color: #212529;
}

/*Lower Header*/
.lowerHeader {
	border-bottom: 1px solid #b3b6b9;
	margin-bottom: 10px
}

.navbar-light .navbar-nav .nav-link {
	width: 100px;
	text-align: center;
}


/*////////////////////////////////////////////////////////////////////////////////////////////*/
/*Assist Bar*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

/*Assist Bar Icon*/
.assist-bar {
	margin: 30px auto;
	max-width: 80%;
}

.mobile-assist-bar {
	background-color: #1b1b1b;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 60px;
	z-index: 20;
	display: none;
}

.mobile-assist-item {
	color: #ccc;
	font-size: 18px;
	width: 20%;
	text-align: center;
	padding: 17px 0px;
}

.mobile-assist-item a {
	color: #ccc
}

.mobile-assist-item .nav-link {
	padding: 0px;
	color: #ccc;
}

.mobile-assist-item .btn-secondary {
	color: #ccc;
}

.mobile-assist-item .assist-icon {
	padding: 0px;
	color: #ccc;
	background-color: unset;
}

.mobile-assist-item .active:focus, .mobile-assist-item .assist-icon:focus, .assist-icon .btn-secondary:focus {
	color: #ffd800;
}


.assist-icon {
	width: 100px;
	height: 100px;
	font-size: 40px;
	border-radius: 50%;
	padding: 20px 0px; 
	margin: auto;
}

@media screen and (max-width: 575px) { 
	.assist-bar {
		display: none;
	}
	.mobile-assist-bar {
		display: block
	}
	.assist-item {
		margin-bottom: 20px;
	}
	.assist-icon {
		width: 50px;
		height: 50px;
		font-size: 20px;
		padding: 10px 0px; 
	}
}

.need-doctor {
	background-color: #ffd800;
}

.need-prescription {
	background-color: #1b1b1b;
	color: #fff
}

.need-repeat {
	color: #fff;
	background-color: #b3b6b9;
}

.need-repeat a {
	color: #fff;
}

/*Ask Doctor*/
.step-bar {
	text-align: center;
}

.step-content, .step-line {
	display: inline-grid;
}

.step-content{
	position: relative;
}

.step-circle {
	width: 15px;
	height: 15px;
	margin: 10px auto;
	background-color: #b3b6b9;;
	border-radius: 50%;
	cursor: pointer;
}

/*.step-circle:after {
	content: '';
	position: absolute;
	width: 22.5px;
	height: 22.5px;
	border: 1px solid #ffd800;
	border-radius: 50%;
	left: 6px;
	top: 6px
}*/

.step-line {
	width: 20%;
	height: 1px;
	background-color: #b3b6b9;;
	position: relative;
	bottom: 6px;
}

.step-content.active .step-circle {
	background-color: #ffd800;
}

.step-content.active{
	font-weight: bold;
}

.step-form {
	border: 1px solid #b3b6b9;
	border-radius: 5px;
}

/*Symptoms*/

.textarea-box {
	margin: 20px 0px;
}

.code-box {
	margin: 20px 0px;
	overflow: hidden;
}

.code-box input{
	width: 15%;
	margin-left: 1.6%;
	float: left;
	text-align: center;
}

.code-icon {
	text-align: center;
	font-size: 90px;
	color: #fff;
	background-color: #1b1b1b;
	border-radius: 50%;
	margin-top: 40px;
}

@media screen and (max-width: 992px) { 
	.code-icon {
		font-size: 45px;
	}
}

@media screen and (max-width: 768px) { 
	.code-icon {
		display: none;
	}
}

/*Upload Prescription*/
.upload-form {
	border: 1px solid #b3b6b9;
	border-radius: 5px;
}

.icon-upload {
	height: 120px;
}

.prescription-title {
	margin-top: 20px
}

.doc-description {
	font-size: 15px;
	color:  #808080;
	font-weight: 600
}

.uploadBox {
    width: 50%;
    margin: auto;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    text-align: center;
    border: 1px dashed #d9d9d9;
    background: #fafafaed;
    border-radius: .5em;
    /* float: left; */
    padding: .5em;
}

.fileContainer:hover {
    border-color: #1890ff;
}

.fileContainer [type=file] {
    cursor: pointer;
}

.uploadImg {
   margin-bottom: 30px;
}


@media screen and (max-width: 768px) { 
	.prescription-title,
	.doc-description {
		text-align: center;
	}
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/*Footer*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.upper-footer-box {
	 background-image: url('./images/banner_doctor.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 200px;
}

.footer-call-doctor,
.footer-upload-prescription,
.footer-repeat {
	border: 1px solid #b3b6b9;
	border-radius: 10px;
}

.footer-repeat a {
	color: #212529;
}

.upper-footer-box .assist-icon {
	width: 40px;
	height: 40px;
	font-size:25px;
	padding: 0;
	text-align: center;
	margin: 0px;
}

.bottom-footer-box {
	background-color: #1b1b1b;
}

.footer-description {
	color: #ffd800;
}

.footer-description-bottom {
	color: #b3b6b9;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/*About Us*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/
.about-img {
	height: 60px;
}

.mission,
.service
 {
	border: 1px solid #b3b6b9;
	border-radius: 5px;
	padding: 20px;
	margin: 20px 0px;
}

.service-icon {
	width: 100px;
	height: 100px;
	font-size: 40px;
	border-radius: 50%;
	padding: 20px 0px;
    margin: auto;
	background-color: #ffd800;

}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/*Content*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/


/*Item List*/
.product-name {
	font-weight: bold
}

.product-discount {
	font-size: 18px;
	color: #fff;
	background-color: red;
	padding: 2px;
	border-radius: 5px;
}

.product-discount-mobile {
	font-size: 18px;
	color: #fff;
	background-color: red;
	padding: 2px;
	border-radius: 5px;
	display: none;
	position: absolute;
	right: 20px;
	top: 10px;
	z-index: 10
}

.product-img {
	height: 130px;
}

.price-con {
	border: 1px solid #b3b6b9;
	border-radius: 10px;
	padding: 10px;
}

.doc-box {
	text-align: center;
}

.market-price {
	font-weight: bold;
	/*color: red;*/
    text-decoration: line-through;
}

.current-price {
	color: red;
	font-weight: bold;
	font-size: 18px;
}

.item-detail-cart {
	width: 40px;
	height: 40px;
	background-color: #ffd800;
	border-radius: 50%;
}

.load-more {
	margin: 10px;
	text-align: center;
	font-weight: bold;
}

@media screen and (max-width: 768px) { 
	.product-name-box,
	.price-box {
		text-align: center;
	}

	.cart-out-box {
		display: none;
	}

	.product-doc {
		width: 30%;
		margin-right: 10px;
	}

	.item-detail-cart {
		margin: auto;
	}

	.product-discount {
		display: none;
	}

	.product-discount-mobile {
		display: block
	}
}

/*Item Detail*/ 
.product-name-big {
	font-weight: bold;
	font-size: 18px
}

.category {
	font-weight: bold;
	color: #989292;
}

.volume-code {
	border: 1px solid #b3b6b9;
	padding: 5px;
	border-radius: 10px;
}

.quantity-icon {
	border-radius: 50%;
}

.add-cart  {
/*	width: 80px;
	height: 80px;
	font-size: 40px;*/
	border-radius: 50%;
}


.item-ask .need-doctor {
	background-color: unset;
	padding: 0px;
	margin: 0px;
	height:unset;
	width: unset;
	font-size: unset;
}

.quantity-txt {
	text-align: center;
}

@media screen and (max-width: 768px) { 
	.category {
		/*float: left;*/
	}
	.doc_icon {
		width: 40%;
	}
}

/*review*/
.review-box {
	border: 1px solid #15d4cd;
}

.total-review {
	font-size: 18px;
	font-weight: bold;
	color: #15d4cd;
}

.review-text {
	background-color: #15d4cd;
	font-weight: bold;
	color: #fff;
}

.review-bar {
	padding: 4px;
	width: 70%;
}

/*cart list*/
.cart-notification {
    cursor: default;
    background-color: red;
    border-radius: 11px;
    font-size: 10px;
    color: white;
    position: absolute;
    width: 16px;
    bottom: -5px;
    left: 29px;
}

.cart-list {
	text-align: center;
	margin-bottom: 20px;
	border: none;
}

.cart-list .nav-link {
	border: 1px solid #b3b6b9;
}

.cart-list .active.nav-link {
	font-weight: bold;
	border: none;
	background-color: #ccc;
}

.tab-item {
	width: 30%;
}

.tab-item:first-child {
	margin: 0px 5px 0px auto;
}

.tab-item:last-child {
	margin: 0px auto 0px 5px;
}

.cart-list-header {
	background-color: #ccc;
	font-weight: bold;
	border-radius: 5px;
	padding: 5px;
	/*text-align: center;*/
}

.cart-list-content {
	border: 1px solid #b3b6b9;
	border-radius: 5px;
	padding: 10px 5px;
}

.checkout-box {
	padding-left: 0px;
/*	position: fixed;
	right: 0px;*/
}

.checkout-header {
	background-color: #ccc;
	font-weight: bold;
	border-radius: 5px;
	padding: 5px;
}

.checkout-name {
	color: #989292;
	font-weight: bold;
}

.checkout-price {
	font-weight: bold;
}

.product-category {
	overflow: hidden;
}

@media screen and (max-width: 768px) { 
	.cart-list-header {
		display: none;
	}

	.cart-img {
		height: 250px;
	}

	.product-category {
		text-align: center;
	}

	.checkout-box {
		padding-left: 15px;
	}
}

.check-total {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
/*Category*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/
.select-box {
	background-color: #ccc;
	border-radius: 5px;
	position: relative;
	height: 400px;
	overflow: hidden;
}

.box-inside {
	width: 120%;
	padding: 20px;
	overflow-y: scroll;
	height: 400px;
}

.category-item.active {
	font-weight: bold;
}

@media screen and (max-width: 768px) { 
	.select-box,
	.box-inside {
		height: 300px;
	}
}


/* Reset Select */
.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border-radius: .25em;
   border: 1px solid #ced4da;
   width: 100%;
}
.select select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #212529;
  cursor: pointer;
}
.select select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #fff;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #ffd800;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.day-box {
	border: 1px solid #ced4da;
	border-radius: 10px;
	width: 30%;
	padding: 5px;
	margin: 5px;
	text-align: center;
	float: left;
}
